@using Continuum.Common.Utilities;
@using Continuum.Core.Models;

<div id="mod-button-@Integration.IntegrationID" class="mod-icon-parent integration" @onclick="@RouteMainAction">
    <div class="mod-icon integration">
        @{var path = Integration.GetRelativePath(Integration.DisplayImage);}
        <img src="@Base64Utility.ConvertFileToBase64(path)" class="vertical-align unselectable" />
    </div>

    <div class="button-title-banner">
        <span class="button-title">@Integration.DisplayName</span>
        <span class="button-author">@Available available / @Installed installed</span>
    </div>
</div>

@code {
    [Parameter] public Continuum.Core.Models.GameIntegration Integration { get; set; }
    [Parameter] public int Installed { get; set; }
    [Parameter] public int Available { get; set; }
    [Parameter] public EventCallback<string> OnClick { get; set; }

    protected async void RouteMainAction()
    {
        await OnClick.InvokeAsync(Integration.IntegrationID);
    }
}