@using Continuum.GUI.Models;
@using Continuum.Common;
@using Continuum.Core.Enums;
@using Continuum.Core.Models;

<div class="settings-main">
    @foreach (var category in categories)
    {
        <SettingsCategory CategoryName="@category">
            @foreach (var setting in (Settings?.Where(s => s.Category == category) ?? new ModSettingDTO[0]))
            {
                <SettingsRow Setting="setting" Disabled="Disabled" OnSettingChanged="OnSettingChanged"></SettingsRow>
            }
        </SettingsCategory>
    }
</div>

@code {
    [Parameter] public ModSettingDTO[]? Settings { get; set; }
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public EventCallback<bool> OnSettingChanged { get; set; }

    private IEnumerable<string> categories = null;

    protected override void OnInitialized()
    {
        categories = Settings?.Select(s => s.Category)?.Distinct() ?? new string[0];
    }
}